* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.gear {
	width: 110px;
	height: 110px;
	background-color: #5dc59d;
	border-radius: 50%;
  animation: rotate 10s linear infinite;
}

.gear-inner {
	width: 55px;
	height: 55px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bar {
	width: 170px;
	height: 40px;
	background-color: #5dc59d;
	border-radius: 7px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bar:nth-child(2) {
	transform: translate(-50%, -50%) rotate(60deg);
}

.bar:nth-child(3) {
	transform: translate(-50%, -50%) rotate(-60deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}